{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "Default": "Data Source=.\\SQLExpress;Initial Catalog=havitbug;User ID=developer;Password=cx99az@#;Trusted_Connection=True;TrustServerCertificate=True"
  },
  "AllowedHosts": "*"
}
